<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'bills')}">

<body>
<!-- DataTable Doklady -->
<div class="card">
    <div class="card-header">
        <div class="form-inline">
            <i class="fas fa-fw fa-book mr-1"></i>
            <span class="mr-3">Doklady</span>
            <a class="btn btn-primary input-group mr-3 my-1" href="/bills/create?type=P">Vytvořit příjemku</a>
            <a class="btn btn-primary input-group mr-3 my-1" href="/bills/create?type=V">Vytvořit výdejku</a>
            <div class="form-inline text-nowrap">
                <label class="form-check-label mr-2">Zobrazit:</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radioDoklady" id="radioVsechny" value="" th:checked="${billType == null}">
                    <label class="form-check-label" for="radioVsechny">Všechny doklady</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radioDoklady" id="radioPrijemky" value="P" th:checked="${billType == 'P'}">
                    <label class="form-check-label" for="radioPrijemky">Příjemky</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="radioDoklady" id="radioVydejky" value="V" th:checked="${billType == 'V'}">
                    <label class="form-check-label" for="radioVydejky">Výdejky</label>
                </div>
            </div>
            <form action="/bills/search" class="input-group ml-auto mr-0" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#dynamicContent" id="form0" method="post">
                <input type="text" class="form-control ui-autocomplete-input" placeholder="Číslo..." aria-label="Search" aria-describedby="basic-addon2" id="searchBox" name="search" autocomplete="off">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table id="bills" class="table table-bordered table-striped table-sm table-responsive-lg">
                <thead class="thead-dark">
                <tr>
                    <th>
                        <a th:href="@{'/bills/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
                            Doklad</a>
                    </th>
                    <th>
                        <a th:href="@{'/bills/page/' + ${currentPage} + '?sortField=paired&sortDir=' + ${reverseSortDir}}">
                            Spárováno</a>
                    </th>
                    <th>
                        <a th:href="@{'/bills/page/' + ${currentPage} + '?sortField=unit&sortDir=' + ${reverseSortDir}}">
                            Středisko</a>
                    </th>
                    <th>
                        <a th:href="@{'/bills/page/' + ${currentPage} + '?sortField=billDate&sortDir=' + ${reverseSortDir}}">
                            Datum</a>
                    </th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bill : ${listBills}">
                    <td th:text="${bill.type} + ${bill.id}"></td>
                    <td th:text="${bill.paired}"></td>
                    <td th:text="${bill.unit.name}"></td>
                    <td th:text="${#calendars.format(bill.billDate, 'dd.MM.yyyy')}"></td>
                    <td>
                        <a class="mx-1" th:href="@{/bills/update/{id}(id=${bill.id})}" aria-label="Editovat">
                            <i aria-hidden="true" class="fas fa-fw fa-edit"></i>
                        </a>
                            <a class="mx-1" th:href="@{/bills/delete/{id}(id=${bill.id})}" aria-label="Smazat"
                               th:attr="onclick=|return confirm('Přejete si opravdu smazat doklad ${bill.type}${bill.id}?')|">
                        <i aria-hidden="true" class="fas fa-fw fa-trash"></i>
                            </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pages" th:if="${totalPages > 1}">
            <span>Pages:</span>
            <span>[</span>
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
              <a th:if="${currentPage != i}" th:href="@{'/bills/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
              <span th:unless="${currentPage != i}">[[${i}]]</span>
            </span>
            <span>]&nbsp;</span>
            <span>
              <a th:if="${currentPage > 1}" th:href="@{'/bills/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" title="První"
                 class="fas fa-angle-double-left"></a>
              <span th:unless="${currentPage > 1}" title="First" class="fas fa-angle-double-left"></span>
            </span>
            <span>
              <a th:if="${currentPage > 1}" th:href="@{'/bills/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" title="Předchozí"
                 class="fas fa-angle-left"></a>
              <span th:unless="${currentPage > 1}" title="Previous" class="fas fa-angle-left"></span>
            </span>
            <span>
              <a th:if="${currentPage < totalPages}" th:href="@{'/bills/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" title="Další"
                 class="fas fa-angle-right"></a>
              <span th:unless="${currentPage < totalPages}" title="Next" class="fas fa-angle-right"></span>
            </span>
            <span>
              <a th:if="${currentPage < totalPages}" th:href="@{'/bills/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" title="Poslední"
                 class="fas fa-angle-double-right"></a>
              <span th:unless="${currentPage < totalPages}" title="Last" class="fas fa-angle-double-right"></span>
            </span>
        </div>
    </div>
</div>

</body>
</html>
