<!doctype html>
<html lang="cs" th:fragment="layout (template, menu)">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sklad">
  <meta name="author" content="Aleš Lajvr">

  <title>Náhradní díly</title>

  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.3/css/all.min.css} "/>
  <link rel="stylesheet" th:href="@{/css/warehouse.css}" />

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="/">Sklad náhradních dílů</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">
    <!-- Sidebar menu-->
    <ul class="sidebar navbar-nav" th:remove="all">
      <li th:fragment="menuItem (link,active,fa,text)" class="nav-item active"
          th:class="${active==menu ? 'nav-item active' : 'nav-item'}">
        <a th:href="@{__${link}__}" th:title="${text}" class="nav-link">
          <i th:class="'fas fa-fw fa-'+${fa}" class="fas fa-fw fa-home"></i>
          <span th:text="${text}">Náhradní díly</span>
        </a>
      </li>
    </ul>

    <ul class="sidebar navbar-nav">
      <li th:replace="::menuItem ('/','home','home','Domů')">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-home"></i>
          <span>Náhradní díly</span>
        </a>
      </li>
      <li th:replace="::menuItem ('/bills','bills','book','Doklady')">
        <a class="nav-link" href="/Bills">
          <i class="fas fa-fw fa-book"></i>
          <span>Doklady</span>
        </a>
      </li>
      <li th:replace="::menuItem ('/parts','parts','car','Díly')">
        <a class="nav-link" href="/Bills">
          <i class="fas fa-fw fa-book"></i>
          <span>Doklady</span>
        </a>
      </li>
      <li th:replace="::menuItem ('/prices','prices','money-bill-wave','Cenové skupiny')">
        <a class="nav-link" href="/Prices">
          <i class="fas fa-fw fa-money-bill-wave"></i>
          <span>Cenové skupiny</span>
        </a>
      </li>
      <li th:replace="::menuItem ('/units','units','building','Střediska')">
        <a class="nav-link" href="/Units">
          <i class="fas fa-fw fa-building"></i>
          <span>Střediska</span>
        </a>
      </li>
    </ul>

    <div id="content-wrapper">
      <div class="container-fluid" id="dynamicContent">

        <th:block th:include="${template}" />

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>© Aleš Lajvr & Jiří Klouda 2021</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/warehouse.js}"></script>

</body>

</html>
