<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'prices')}">

<body>

<div class="container">
    <div class="card card-doklad mx-auto mt-5">
        <div class="card-header">
            <span th:text="${formTitle}"></span>
        </div>
        <div class="card-body">
            <form th:action="@{/prices/save}" th:object="${priceEntity}" method="post">
                <input type="hidden" name="id" th:value="*{id}"/>
                <div class="form-group has-feedback">
                    <input th:replace="~{fragments/inputField :: input ('Název', 'name', 'text')}"/>
                    <input th:replace="~{fragments/inputField :: input ('Nákup', 'purchase', 'text')}"/>
                    <input th:replace="~{fragments/inputField :: input ('Prodej', 'sale', 'text')}"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Uložit</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
